*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "montserrat";
}


.container{
    max-width: 100%;
}


button{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 7px;
    transition: 340ms all;
}



button:hover{
    background-color: orange;
    color: #fff;

}