.detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #1e1e1e;
    color: #fff;

    h2:hover{
        color: orange;
    }

    p:hover{
        color: orange;
    }
}